$open: #1d8b28;
$fs: #66d471;
$fs-text: #5bc866;
$text: #555;
$derived-amount: rgb(80, 128, 193);

body {
  color:$text;
}

#navbar-header {
  .navbar-brand {
     margin-right:1.8rem;
    a {
      font-size: 1.5rem;
      padding-top: 0.0rem;
    }
  }
  .logo-open {
    color: $open;
    font-weight: bold;
  }
  .logo-fs {
    color: $fs;
    font-weight: bold;
  }
  .nav-link {
    padding-top: .500rem;
    color: $fs-text;   
  }
  .active .nav-link {
    color: $fs-text;
  }
  button.navbar-toggler {
    color: $open;
  }
}

#search-header {
   color:#fff;
   background: $open;
   border: $open;
   
   .container {
     padding-top:2.2rem;
     padding-bottom:2.5rem;
   }
}

#content {
  margin-top:2.2rem;
  .table {
    font-size:0.9rem;
  }
  .derived-amount {
    color: $derived-amount;
    font-style: italic;
  }
  h4 i {
    color: $fs;
  }
  .about-card {
    margin-bottom: 7px;
  }
}

#footer {
   color:#fff;
   background: $fs;
   border: $fs;
   margin-top:1.4rem;
   
   .container {
     padding-top:1.1rem;
     padding-bottom:1.1rem;
   }
   
   a {
     color:#fff;
   }
}

.search-nav-box {
  background:#fff;
  margin-bottom:1rem;
  border: 3px solid $fs;
  
  .snb-head {
    background:$fs;
    padding:0.4rem 0.7rem 0.4rem 0.7rem;
  }
  .snb-head a {
    font-size:1.0rem;
    font-weight: bold;
    color: #fff;
  }
  .snb-head-selected {
    font-weight: normal;
  }
  
  .snb-items {
    padding:0.7rem;
    font-size:0.9rem;
    margin-bottom:0;
    
    li {
      line-height:1.8rem;
    }
    a {
      color: $text;
    }
    a.sn-active {
      font-weight: bold;}
  }
}

#payments-table {
  a {
    color: $text;
  }
}
